services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    env_file:
      - .env.mongo
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  rabbitmq:
    image: rabbitmq:3-management
    restart: unless-stopped
    env_file:
      - .env.rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  nestapi:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "5173:80"
    env_file:
      - ./frontend/.env

  python-collector:
    build:
      context: ./collector
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./collector/.env
    depends_on:
      - rabbitmq

  go-worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./worker/.env
    depends_on:
      - rabbitmq
      - nestapi

  redis:
    image: redis:7.2-alpine
    restart: unless-stopped
    env_file:
      - .env.redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes: 
      - redis-data:/data

volumes:
  mongo-data:
  redis-data: